:root {
    --color1: #001219;
    --color2: #005F73;
    --color3: #0A9396;
    --color4: #94D2BD;
    --color5: #E9D8A6;
    --color6: #EE9B00;
    --color7: #CA6702;
    --color8: #BB3E03;
    --color9: #AE2012;
    --color10: #9B2226;
    --white:;
    --black:;
    --light-peach: #f9dec9;
    --light-blue: #aec5eb;
    --dark-blue: #3a405a;
    --peach: #e9afa3;
    --brown: #685044;
    --transition: all 300ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    font-size: 0.9rem;
    align-items: center;
    justify-items: center;
    background-color: var(--light-blue);
    height: 100vh;
}

img {
    display: block;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    object-fit: cover;
}

h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

a, a:active, a:visited {
    color: var(--peach);
    font-weight: 500;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

    .btn.primary {
        background: var(--light-blue);
        color: var(--brown);
    }

    .btn:hover {
        background: var(--dark-blue);
        color: var(--light-peach);
    }

    .btn img {
        width: 1.2rem;
    }

.sign-in {
    background: white;
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

.sign-in_content {
    padding: 2rem 4rem;
}

.sign-in_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.form_layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

input:not([type="checkbox"]) {
    width: 100%;
    border: 1px solid var(--light-peach);
    padding: 0.7rem;
    border-radius: 0.5rem;
}

input::placeholder {
    color: var(--light-peach);
}

label {
    font-weight: 500;
    color: black;
}

.sign-in_more {
    display: flex;
    justify-content: space-around;
}

    .sign-in_more div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

button:last-child {
    margin-top: 1rem;
}

.next_page {
    margin-top: 1rem;
    text-align: center;
    display: block;
}

.sign-in_logo {
    display: grid;
    place-content: center;
    background: var(--dark-blue);
    height: 100%;
}

/* MEDIA small screen */
@media screen and (max-width:600px) {
    body {
        display: block;
        background: var(--light-peach);
    }

    h1 {
        font-size: 1.5rem;
    }

    .sign-in {
        grid-template-columns: 1fr;
        width: 100vw;
        overflow: visible;
    }

    .sign-in_content {
        grid-row: 2/3;
        padding: 2rem 1.5rem;
    }

    .sign-in_form {
        margin-top: 1.5rem;
        gap: 1rem;
    }

    .sign-in_more {
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 1rem;
    }

    .sign-in_logo {
        padding: 1.5rem 0;
    }

        .sign-in_logo div {
            width: 10rem;
        }
}
